{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 홈택스 현금영수증 매입매출 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>정액제 서비스 상태 확인</legend>
            <ul>
                <li> referenceID (사업자번호) : {{ flatRateState.referenceID }}</li>
                <li> contractDT (정액제 서비스 시작일시) : {{ flatRateState.contractDT }}</li>
                <li> useEndDate (정액제 서비스 종료일자) : {{ flatRateState.useEndDate }}</li>
                <li> baseDate (자동연장 결제일) : {{ flatRateState.baseDate }}</li>
                <li> state (정액제 서비스 상태 [1-사용, 2-해지]) : {{ flatRateState.state }}</li>
                <li> closeRequestYN (정액제 서비스 해지신청 여부) : {{ flatRateState.closeRequestYN }}</li>
                <li> useRestrictYN (정액세 서비스 사용제한 여부) : {{ flatRateState.useRestrictYN }}</li>
                <li> closeOnExpired (정액제 서비스 만료 시 해지 여부) : {{ flatRateState.closeOnExpired }}</li>
                <li> unPaidYN (미수금 보유 여부) : {{ flatRateState.unPaidYN }}</li>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}