{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 홈택스 현금영수증 매입매출 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>수집 상태 목록 확인</legend>
            {% for response in list%}
                <fieldset class="fieldset2">
                    <legend>JobID (작업아이디) : {{ response.jobID }}</legend>
                    <ul>
                        <li> jobState (수집상태) : {{ response.jobState }}</li>
                        <li> queryType (수집유형) : {{ response.queryType }}</li>
                        <li> queryDateType (일자유형) : {{ response.queryDateType }}</li>
                        <li> queryStDate (시작일자) : {{ response.queryStDate }}</li>
                        <li> queryEnDate (종료일자) : {{ response.queryEnDate }}</li>
                        <li> errorCode (오류코드) : {{ response.errorCode }}</li>
                        <li> jobStartDT (작업 시작일시) : {{ response.jobStartDT }}</li>
                        <li> jobEndDT (작업 종료일시) : {{ response.jobEndDT }}</li>
                        <li> collectCount (수집개수) : {{ response.collectCount }}</li>
                        <li> regDT (수집 요청일시) : {{ response.regDT }}</li>
                    </ul>
                </fieldset>
            {% endfor %}
        </fieldset>
    </div>
{% endblock contents %}