{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 홈택스 현금영수증 매입매출 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>홈택스 수집 결과 조회</legend>
            <ul>
                <li> code (요청에 대한 응답 상태코드) : {{ response.code }}</li>
                <li> message (요청에 대한 응답 메시지) : {{ response.message }}</li>
                <li> total (총 검색결과 건수) : {{ response.total }}</li>
                <li> perPage (페이지당 검색개수) : {{ response.perPage }}</li>
                <li> pageNum (페이지 번호) {{ response.pageNum }}</li>
                <li> pageCount (페이지 개수) {{ response.pageCount }}</li>
                {% for cashbillInfo in response.list %}
                    <fieldset class="fieldset2">
                        <legend> 현금영수증 요약정보 [ {{ forloop.counter }} ]</legend>
                        <ul>
                            <li> ntsconfirmNum (국세청승인번호) : {{ cashbillInfo.ntsconfirmNum }}</li>
                            <li> tradeDT (거래일시) : {{ cashbillInfo.tradeDT }}</li>
                            <li> tradeUsage (거래유형) : {{ cashbillInfo.tradeUsage }}</li>
                            <li> tradeType (현금영수증 형태) : {{ cashbillInfo.tradeType }}</li>
                            <li> supplyCost (공급가액) : {{ cashbillInfo.supplyCost }}</li>
                            <li> tax (세액) : {{ cashbillInfo.tax }}</li>
                            <li> serviceFee (봉사료) : {{ cashbillInfo.serviceFee }}</li>
                            <li> totalAmount (거래금액) : {{ cashbillInfo.totalAmount }}</li>
                            <li> invoiceType (매입/매출) : {{ cashbillInfo.invoiceType }}</li>
                            <li> franchiseCorpNum (발행자 사업자번호) : {{ cashbillInfo.franchiseCorpNum }}</li>
                            <li> franchiseCorpName (발행자 상호) : {{ cashbillInfo.franchiseCorpName }}</li>
                            <li> franchiseCorpType (발행자 사업자유형) : {{ cashbillInfo.franchiseCorpType }}</li>
                            <li> identityNum (거래처 식별번호) : {{ cashbillInfo.identityNum }}</li>
                            <li> identityNumType (식별번호유형) : {{ cashbillInfo.identityNumType }}</li>
                            <li> customerName (고객명) : {{ cashbillInfo.customerName }}</li>
                            <li> cardOwnerName (카드소유자명) : {{ cashbillInfo.cardOwnerName }}</li>
                            <li> deductionType (공제유형) : {{ cashbillInfo.deductionType }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}