{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 기업정보조회 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>기업정보조회</legend>
            <ul>
                <li><a href="CheckBizInfo">checkBizInfo</a> (기업정보 단건조회)</li>
            </ul>
            <fieldset class="fieldset1">
                <legend>포인트 관리</legend>
                <ul>
                    <li><a href="GetUnitCost">getUnitCost</a>(발행 단가 확인)</li>
                    <li><a href="GetChargeInfo">getChargeInfo</a>(과금정보 확인)</li>
                    <li><a href="GetBalance">getBalance</a>(연동회원 잔여포인트 확인)</li>
                    <li><a href="GetChargeURL">getChargeURL</a>(연동회원 포인트 충전 팝업 URL)</li>
                    <li><a href="PaymentRequest">paymentRequest</a>(연동회원 무통장 입금신청)</li>
                    <li><a href="GetSettleResult">getSettleResult</a>(연동회원 무통장 입금신청 정보확인)</li>
                    <li><a href="GetPaymentHistory">getPaymentHistory</a>(연동회원 포인트 결제내역 확인)</li>
                    <li><a href="GetPaymentURL">getPaymentURL</a>(연동회원 포인트 결제내역 팝업 URL)</li>
                    <li><a href="GetUseHistory">getUseHistory</a>(연동회원 포인트 사용내역 확인)</li>
                    <li><a href="GetUseHistoryURL">getUseHistoryURL</a>(연동회원 포인트 사용내역 팝업 URL)</li>
                    <li><a href="Refund">refund</a>(연동회원 포인트 환불신청)</li>
                    <li><a href="GetRefundHistory">getRefundHistory</a>(연동회원 포인트 환불내역 확인)</li>
                    <li><a href="GetPartnerBalance">getPartnerBalance</a>(파트너 잔여포인트 확인)</li>
                    <li><a href="GetPartnerURL">getPartnerURL</a>(파트너 포인트충전 팝업 URL)</li>
                    <li><a href="GetRefundInfo">getRefundInfo</a>(환불 신청 상태 조회)</li>
                    <li><a href="GetRefundableBalance">getRefundableBalance</a>(환불 가능 포인트 조회)</li>
                </ul>
            </fieldset>
        <fieldset class="fieldset1">
            <legend>회원정보</legend>
            <ul>
                <li><a href="CheckIsMember">checkIsMember</a> (연동회원 가입여부 확인)</li>
                <li><a href="CheckID">checkID</a> (아이디 중복 확인)</li>
                <li><a href="JoinMember">joinMember</a> (연동회원 신규가입)</li>
                <li><a href="GetCorpInfo">getCorpInfo</a> (회사정보 확인)</li>
                <li><a href="UpdateCorpInfo">updateCorpInfo</a> (회사정보 수정)</li>
                <li><a href="RegistContact">registContact</a> (담당자 등록)</li>
                <li><a href="GetContactInfo">getContactInfo</a> (담당자 정보 확인)</li>
                <li><a href="ListContact">listContact</a> (담당자 목록 확인)</li>
                <li><a href="UpdateContact">updateContact</a> (담당자 정보 수정)</li>
                <li><a href="GetAccessURL">getAccessURL</a> (팝빌 로그인 URL)</li>
                <li><a href="QuitMember">quitMember</a> (팝빌 회원 탈퇴)</li>
            </ul>
        </fieldset>
{% endblock contents %}
