{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 문자 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>080 서비스 수신거부 목록</legend>
            <ul>
                    <fieldset class="fieldset2">
                        <ul>
                            <li> number (수신거부번호) : {{ number }}</li>
                            <li> regDT (등록일시): {{ regDT }}</li>
                        </ul>
                    </fieldset>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
