{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 문자 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>발신번호 사전등록</legend>
            <ul>
                <li><a href="GetSenderNumberMgtURL">getSenderNumberMgtURL</a> (발신번호 관리 팝업 URL)</li>
                <li><a href="GetSenderNumberList">getSenderNumberList</a> (발신번호 목록 확인)</li>
            </ul>
        </fieldset>
        <fieldset class="fieldset1">
            <legend>문자 전송</legend>
            <ul>
                <li><a href="SendSMS">sendSMS</a> (단문 전송)</li>
                <li><a href="SendSMS_multi">sendSMS</a> (단문 전송 [대량])</li>
                <li><a href="SendLMS">sendLMS</a> (장문 전송)</li>
                <li><a href="SendLMS_multi">sendLMS</a> (장문 전송 [대량])</li>
                <li><a href="SendMMS">sendMMS</a> (포토 전송)</li>
                <li><a href="SendMMS_multi">sendMMS</a> (포토 전송 [대량])</li>
                <li><a href="SendXMS">sendXMS</a> (단문/장문 자동인식 전송)</li>
                <li><a href="SendXMS_multi">sendXMS</a> (단문/장문 자동인식 전송 [대량])</li>
                <li><a href="CancelReserve">cancelReserve</a> (예약전송 취소)</li>
                <li><a href="CancelReserveRN">cancelReserveRN</a> (예약전송 취소 - 요청번호 할당)</li>
            </ul>
        </fieldset>
        <fieldset class="fieldset1">
            <legend>정보확인</legend>
            <ul>
                <li><a href="GetMessages">getMessages</a> (전송내역 확인)</li>
                <li><a href="GetMessagesRN">getMessagesRN</a> (전송내역 확인 - 요청번호 할당)</li>
                <li><a href="Search">search</a> (전송내역 목록 조회)</li>
                <li><a href="GetStates">getStates</a> (전송내역 요약정보 확인)</li>
                <li><a href="GetSentListURL">getSentListURL</a> (문자 전송내역 팝업 URL)</li>
                <li><a href="GetAutoDenyList">getAutoDenyList</a> (080 수신거부 목록 확인)</li>
            </ul>
        </fieldset>
        <fieldset class="fieldset1">
            <legend>포인트 관리</legend>
            <ul>
                <li><a href="GetBalance">getBalance</a> (연동회원 잔여포인트 확인)</li>
                <li><a href="GetChargeURL">getChargeURL</a> (연동회원 포인트충전 URL)</li>
                <li><a href="GetPartnerBalance">getPartnerBalance</a> (파트너 잔여포인트 확인)</li>
                <li><a href="GetPartnerURL">getPartnerURL</a> (파트너 포인트충전 URL)</li>
                <li><a href="GetUnitCost">getUnitCost</a> (전송 단가 확인)</li>
                <li><a href="GetChargeInfo">getChargeInfo</a> (과금정보 확인)</li>
            </ul>
        </fieldset>
        <fieldset class="fieldset1">
            <legend>회원정보</legend>
            <ul>
                <li><a href="CheckIsMember">checkIsMember</a> (연동회원 가입여부 확인)</li>
                <li><a href="CheckID">checkID</a> (아이디 중복 확인)</li>
                <li><a href="JoinMember">joinMember</a> (연동회원 신규가입)</li>
                <li><a href="GetAccessURL">getAccessURL</a> (팝빌 로그인 URL)</li>
                <li><a href="RegistContact">registContact</a> (담당자 등록)</li>
                <li><a href="ListContact">listContact</a> (담당자 목록 확인)</li>
                <li><a href="UpdateContact">updateContact</a> (담당자 정보 수정)</li>
                <li><a href="GetCorpInfo">getCorpInfo</a> (회사정보 확인)</li>
                <li><a href="UpdateCorpInfo">updateCorpInfo</a> (회사정보 수정)</li>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
















