{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 문자 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>문자발신 목록조회</legend>
            <ul>
                <li> code (요청에 대한 응답 상태코드) : {{ response.code }}</li>
                <li> message (요청에 대한 응답 메시지) : {{ response.message }}</li>
                <li> total (총 검색결과 건수) : {{ response.total }}</li>
                <li> perPage (페이지당 검색개수) : {{ response.perPage }}</li>
                <li> pageNum (페이지 번호) {{ response.pageNum }}</li>
                <li> pageCount (페이지 개수) {{ response.pageCount }}</li>
                {% for messageInfo in  response.list %}
                    <fieldset class="fieldset2">
                        <legend>문자전송 정보 [{{ forloop.counter }}]</legend>
                        <ul>
                            <li> subject (메시지 제목) : {{ messageInfo.subject }}</li>
                            <li> content (메시지 내용) : {{ messageInfo.content }}</li>
                            <li> sendNum (발신번호) : {{ messageInfo.sendNum }} </li>
                            <li> receiveNum (수신번호) : {{ messageInfo.receiveNum }}</li>
                            <li> receiveName (수신자명) : {{ messageInfo.receiveName }}</li>
                            <li> receiptDT (접수일시) : {{ messageInfo.receiptDT }}</li>
                            <li> sendDT (발송일시) : {{ messageInfo.sendDT }}</li>
                            <li> resultDT (전송결과 수신일시) : {{ messageInfo.resultDT }}</li>
                            <li> reserveDT (예약일시) : {{ messageInfo.reserveDT }}</li>
                            <li> state (전송 상태코드) : {{ messageInfo.state }}</li>
                            <li> result (전송 결과코드) : {{ messageInfo.result }}</li>
                            <li> type (메시지 타입) : {{ messageInfo.type }}</li>
                            <li> tranNet (전송처리 이동통신사명) : {{ messageInfo.tranNet }}</li>
                            <li> receiptNum (접수번호) : {{ messageInfo.receiptNum }}</li>
                            <li> requestNum (요청번호) : {{ messageInfo.requestNum }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}