{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">CheckCorpNums</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>휴폐업조회 - 대량</legend>
            <ul>
                {% for corpState in corpStateList %}
                    <fieldset class="fieldset2">
                        <legend>전송내역 확인 [{{ forloop.counter }}]</legend>
                        <ul>
                            <li> corpNum (사업자번호) : {{ corpState.corpNum }}</li>
                            <li> type (사업자유형) : {{ corpState.type }}</li>
                            <li> state (사업자상태) : {{ corpState.state }}</li>
                            <li> stateDate (휴폐업일시) : {{ corpState.stateDate }}</li>
                            <li> checkDate (최종 국세청 확인 일자) : {{ corpState.checkDate }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}