{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 휴폐업조회 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <br>
            <p class="info"> state (휴폐업상태) : None-알수없음, 0-등록되지 않은 사업자번호, 1-사업중, 2-폐업, 3-휴업</p>
            <p class="info"> type (사업 유형) : None-알수없음, 1-일반과세자, 2-면세과세자, 3-간이과세자, 4-비영리법인, 국가기관</p>
            <legend>휴폐업조회 - 대량</legend>
            <ul>
                {% for corpState in corpStateList %}
                    <fieldset class="fieldset2">
                        <legend>휴폐업조회 결과 [{{ forloop.counter }}]</legend>
                        <ul>
                            <li> corpNum (사업자번호) : {{ corpState.corpNum }}</li>
                            <li> type (사업자유형) : {{ corpState.type }}</li>
                            <li> state (사업자상태) : {{ corpState.state }}</li>
                            <li> stateDate (휴폐업일시) : {{ corpState.stateDate }}</li>
                            <li> checkDate (최종 국세청 확인 일자) : {{ corpState.checkDate }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}