{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 계좌조회 API Django Example.</p>
        <br />
        <fieldset class="fieldset1">
            <legend>{{ request.path }}</legend>

            {% for response in list %}
            <fieldset class="fieldset2">
                <legend>은행 계좌 정보</legend>
                <ul>
                    <li>accountNumber (계좌번호) : {{ response.accountNumber }}</li>
                    <li>bankCode (기관코드) : {{ response.bankCode }}</li>
                    <li>accountName (계좌별칭) : {{ response.accountName }}</li>
                    <li>accountType (계좌유형) : {{ response.accountType }}</li>
                    <li>state (계좌 정액제 상태) : {{ response.state }}</li>
                    <li>regDT (등록일시) : {{ response.regDT }}</li>

                    <li>contractDT (정액제 서비스 시작일시) : {{ response.contractDT }}</li>
                    <li>useEndDate (정액제 서비스 종료일) : {{ response.useEndDate }}</li>
                    <li>baseDate (자동연장 결제일) : {{ response.baseDate }}</li>
                    <li>contractState (정액제 서비스 상태) : {{ response.contractState }}</li>
                    <li>closeRequestYN (정액제 서비스 해지신청 여부) : {{ response.closeRequestYN }}</li>
                    <li>useRestrictYN (정액제 서비스 사용제한 여부) : {{ response.useRestrictYN }}</li>
                    <li>closeOnExpired (정액제 서비스 만료 시 해지 여부) : {{ response.closeOnExpired }}</li>
                    <li>unPaidYN (미수금 보유 여부) : {{ response.unPaidYN }}</li>
                    <li>memo (메모) : {{ response.memo }}</li>
                </ul>
            </fieldset>
            {% endfor %}
        </fieldset>
    </div>
{% endblock contents %}
