{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">Response</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>세금계산서 상세정보 확인</legend>
            {% if code %}
                <ul>
                    <li>Response.code : {{ code }}</li>
                    <li>Response.message : {{ message }}</li>
                </ul>
            {% else %}
                <li> writeDate (작성일자) :</li>
                <li> chargeDirection (과금방향) :</li>
                <li> issueType (발행형태) :</li>
                <li> issueTiming (발행시점) :</li>
                <li> taxType (과세형태) :</li>
                <li> supplyCostTotal (공급가액 합계) :</li>
                <li> taxTotal (세액 합계) :</li>
                <li> totalAmount (합계금액) :</li>
                <li> ntsconfirmNum (국세청승인번호) :</li>

                <li> invoicerCorpNum (공급자 사업자번호) :</li>
                <li> invoicerMgtKey (공급자 문서관리번호) :</li>
                <li> invoicerCorpName (공급자 상호) :</li>
                <li> invoicerCEOName (공급자 대표자명) :</li>
                <li> invoicerAddr (공급자 주소) :</li>
                <li> invoicerContactName (공급자 담당자명) :</li>
                <li> invoicerTEL (공급자 담당자 연락처) :</li>
                <li> invoicerHP (공급자 담당자 휴대폰) :</li>
                <li> invoicerEmail (공급자 담당자 메일) :</li>
                <li> invoicerSMSSendYN (발행안내문자 전송여부) :</li>

                <li> invoiceeCorpNum (공급받는자 사업자번호) :</li>
                <li> invoiceeType (공급받는자 구분) :</li>
                <li> invoiceeMgtKey (공급받는자 문서관리번호) :</li>
                <li> invoiceeCorpName (공급받는자 상호) :</li>
                <li> invoiceeCEOName (공급받는자 대표자명) :</li>
                <li> invoiceeAddr (공급받는자 주소) :</li>
                <li> invoiceeContactName1 (공급받는자 담당자명) :</li>
                <li> invoiceeTEL1 (공급받는자 담당자 연락처) :</li>
                <li> invoiceeHP1 (공급받는자 담당자 휴대폰) :</li>
                <li> invoiceeEmail1 (공급받는자 담당자 메일) :</li>
                <li> invoiceeSMSSendYN (역발행안내문자 전송여부) :</li>
                <li> closeDownState (공급받는자 휴폐업상태) :</li>
                <li> closeDownStateDate (공급받는자 휴폐업일자) :</li>

                <li> purposeType (영수/청구) :</li>
                <li> serialNum (일련번호) :</li>
                <li> remark1 (비고1) :</li>
                <li> remark2 (비고2) :</li>
                <li> remark3 (비고3) :</li>
                <li> kwon (권) :</li>
                <li> ho(호) :</li>
                <li> businessLicenseYN (사업자등록증 이미지 첨부여부) :</li>
                <li> bankBookYN (통장사본이미지 첨부여부) :</li>
            {% endif %}


        {% if taxinvoice.detailList %}
            {% for detailList in taxinvoice.detailList %}
                <fieldset class="fieldset2">
                    <legend>상세항목(품목) 정보 [ {{ forloop.counter }} ]</legend>
                    <ul>
                        <li> serialNum (일련번호) : {{ detailList.serialNum }}</li>
                        <li> purchaseDT (거래일자) :</li>
                        <li> itemName (품명) :</li>
                        <li> spec (규격) :</li>
                        <li> qty (수량) :</li>
                        <li> unitCost (단가) :</li>
                        <li> supplyCost (공급가액) :</li>
                        <li> tax (세액) :</li>
                        <li> remark (비고) :</li>
                    </ul>
                </fieldset>
            {% endfor %}
        {% endif %}

        {% if taxinvoice.addContactList %}
            {% for addContactList in taxinvoice.addContactList %}
                <fieldset class="fieldset3">
                    <legend>추가담당자 정보 [ {{ forloop.counter }} ]</legend>
                    <ul>
                        <li> serialNum (일련번호) : {{ addContactList.serialNum }} </li>
                        <li> email (담당자 이메일) : {{ addContactList.email }} </li>
                        <li> contactName (담당자 성명) :</li>
                    </ul>
                </fieldset>
            {% endfor %}
        {% endif %}
        </fieldset>
    </div>
{% endblock contents %}