{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 세금계산서 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>세금계산서 상태변경 이력</legend>
            <ul>
                {% for LogList in LogList %}
                    <fieldset class="fieldset2">
                        <legend> 세금계산서 상태변경 이력 [ {{ forloop.counter }} ]</legend>
                        <ul>
                            <li> docLogType (로그타입) : {{ LogList.docLogType }}</li>
                            <li> log (이력정보) : {{ LogList.log }}</li>
                            <li> procType (처리형태) : {{ LogList.procType }}</li>
                            <li> procCorpName (처리회사명) : {{ LogList.procCorpName }}</li>
                            <li> procContactName (처리담당자) : {{ LogList.procContactName }}</li>
                            <li> procMemo (처리메모) : {{ LogList.procMemo }}</li>
                            <li> regDT (등록일시) : {{ LogList.regDT }}</li>
                            <li> ip (아이피) : {{ LogList.ip }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}