{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 세금계산서 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>세금계산서 메일전송여부 확인</legend>
            <ul>
                <fieldset class="fieldset2">
                    <ul>
                        {% for info in EmailConfig %}
                            {% if info.emailType == "TAX_ISSUE" %}
                                <li> [정발행] {{ info.emailType }} (공급받는자에게 전자세금계산서 발행 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_ISSUE_INVOICER" %}
                                <li> [정발행] {{ info.emailType }} (공급자에게 전자세금계산서 발행 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_CHECK" %}
                                <li> [정발행] {{ info.emailType }} (공급자에게 전자세금계산서 수신확인 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_CANCEL_ISSUE" %}
                                <li> [정발행] {{ info.emailType }} (공급받는자에게 전자세금계산서 발행취소 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_SEND" %}
                                <li> [발행예정] {{ info.emailType }} (공급받는자에게 [발행예정] 세금계산서 발송 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_REQUEST" %}
                                <li> [역발행] {{ info.emailType }} (공급자에게 세금계산서를 발행요청 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_CANCEL_REQUEST" %}
                                <li> [역발행] {{ info.emailType }} (공급받는자에게 세금계산서 취소 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_REFUSE" %}
                                <li> [역발행] {{ info.emailType }} (공급받는자에게 세금계산서 거부 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_TRUST_ISSUE" %}
                                <li> [위수탁발행] {{ info.emailType }} (공급받는자에게 전자세금계산서 발행 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_TRUST_ISSUE_TRUSTEE" %}
                                <li> [위수탁발행] {{ info.emailType }} (수탁자에게 전자세금계산서 발행 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_TRUST_ISSUE_INVOICER" %}
                                <li> [위수탁발행] {{ info.emailType }} (공급자에게 전자세금계산서 발행 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_TRUST_CANCEL_ISSUE" %}
                                <li> [위수탁발행] {{ info.emailType }} (공급받는자에게 전자세금계산서 발행취소 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_TRUST_CANCEL_ISSUE_INVOICER" %}
                                <li> [위수탁발행] {{ info.emailType }} (공급자에게 전자세금계산서 발행취소 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_CLOSEDOWN" %}
                                <li> [처리결과] {{ info.emailType }} (거래처의 휴폐업 여부 확인 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "TAX_NTSFAIL_INVOICER" %}
                                <li> [처리결과] {{ info.emailType }} (전자세금계산서 국세청 전송실패 안내 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "ETC_CERT_EXPIRATION" %}
                                <li> [정기발송] {{ info.emailType }} (팝빌에서 이용중인 인증서의 갱신 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </fieldset>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}