{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">Search</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>세금계산서 목록조회</legend>
            <ul>
                <li>code : {{ respondCode }}</li>
                <li>message : {{ message }}</li>
                <li>total : {{ total }}</li>
                <li>perPage : {{ perPage }}</li>
                <li>pageNum : {{ pageNum }}</li>
                <li>pageCount : {{ pageCount }}</li>

                {% for taxinvoiceInfo in list %}
                    <fieldset class="fieldset2">
                        <legend> 세금계산서 요약정보 [ {{ forloop.counter }} ]</legend>
                        <ul>
                            <li>itemKey (팝빌 관리번호) : {{ taxinvoiceInfo.itemKey }}</li>
                            <li>stateCode (상태코드) : {{ taxinvoiceInfo.stateCode }}</li>
                            <li>taxType (과세형태) : {{ taxinvoiceInfo.taxType }}</li>
                            <li>purposeType (영수/청구) : {{ taxinvoiceInfo.purposeType }}</li>
                            <li>modifyCoce (수정 사유코드) : {{ taxinvoiceInfo.modifyCode }}</li>
                            <li>issueType (발행형태) : {{ taxinvoiceInfo.issueType }}</li>
                            <li>lateIssueYN (지연발행 여부) : {{ taxinvoiceInfo.lateIssueYN }}</li>
                            <li>interOPYN (연동문서 여부) : {{ taxinvoiceInfo.interOPYN }}</li>
                            <li>writeDate (작성일자) : {{ taxinvoiceInfo.writeDate }}</li>
                            <li>invoicerCorpName (공급자 상호) : {{ taxinvoiceInfo.invoicerCorpName }}</li>
                            <li>invoicerCorpNum (공급자 사업자번호) : {{ taxinvoiceInfo.invoicerCorpNum }}</li>
                            <li>invocerMgtKey (공급자 문서관리번호) : {{ taxinvoiceInfo.invoicerMgtKey }}</li>
                            <li>invoicerPrintYN (공급자 인쇄여부) : {{ taxinvoiceInfo.invoicerPrintYN }}</li>
                            <li>invoiceeCorpName (공급받는자 상호) : {{ taxinvoiceInfo.invoiceeCorpName }}</li>
                            <li>invoiceeCorpNum (공급받는자 사업자번호) : {{ taxinvoiceInfo.invoiceeCorpNum }}</li>
                            <li>invoiceeeMgtKey (공급받는자 인쇄여부) : {{ taxinvoiceInfo.invoiceeMgtKey }}</li>
                            <li>closeDownState (공급받는자 휴폐업상태) : {{ taxinvoiceInfo.closeDownState }}</li>
                            <li>closeDownStateDate (공급받는자 휴폐업일자) : {{ taxinvoiceInfo.closeDownStateDate }}</li>
                            <li>supplyCostTotal (공급가액 합계) : {{ taxinvoiceInfo.supplyCostTotal }}</li>
                            <li>taxTotal (세액 합계) : {{ taxinvoiceInfo.taxTotal }}</li>
                            <li>issueDT (발행 일시) : {{ taxinvoiceInfo.issueDT }}</li>
                            <li>preIssueDT (발행예정일시) : {{ taxinvoiceInfo.preIssueDT }}</li>
                            <li>stateDT (상태변경일시) : {{ taxinvoiceInfo.stateDT }}</li>
                            <li>openYN (개봉 여부) : {{ taxinvoiceInfo.openYN }}</li>
                            <li>openDT (개봉 일시) : {{ taxinvoiceInfo.openDT }}</li>
                            <li>ntsresult (국세청 전송결과) : {{ taxinvoiceInfo.ntsresult }}</li>
                            <li>ntsconfirmNum (국세청승인번호) : {{ taxinvoiceInfo.ntsconfirmNum }}</li>
                            <li>ntssendDT (국세청 전송일시) : {{ taxinvoiceInfo.ntssendDT }}</li>
                            <li>ntsresultDT (국세청 결과 수신일시) : {{ taxinvoiceInfo.ntsresultDT }}</li>
                            <li>ntssendErrCode (전송실패 사유코드) : {{ taxinvoiceInfo.ntssendErrCode }}</li>
                            <li>stateMemo (상태메모) : {{ taxinvoiceInfo.stateMemo }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}