{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 현금영수증 SDK Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>초대량 접수결과 확인</legend>
            <ul>
                <li> code (요청에 대한 응답 상태코드) : {{ bulkCashbillResult.code }}</li>
                <li> message (요청에 대한 응답 메시지) : {{ bulkCashbillResult.message }}</li>
                <li> submitID (제출아이디) : {{ bulkCashbillResult.submitID }}</li>
                <li> submitCount (현금영수증 접수 건수) : {{ bulkCashbillResult.submitCount }}</li>
                <li> successCount (현금영수증 발행 성공 건수) : {{ bulkCashbillResult.successCount }}</li>
                <li> failCount (현금영수증 발행 실패 건수) : {{ bulkCashbillResult.failCount }}</li>
                <li> txState (접수상태코드) : {{ bulkCashbillResult.txState }}</li>
                <li> txResultCode (접수 결과코드) : {{ bulkCashbillResult.txResultCode }}</li>
                <li> txStartDT (발행처리 시작일시) : {{ bulkCashbillResult.txStartDT }}</li>
                <li> txEndDT (발행처리 완료일시) : {{ bulkCashbillResult.txEndDT }}</li>
                <li> receiptDT (접수일시) : {{ bulkCashbillResult.receiptDT }}</li>
                <li> receiptID (접수아이디) : {{ bulkCashbillResult.receiptID }}</li>

                {% for bulkCashbillIssueResult in bulkCashbillResult.issueResult %}
                    <fieldset class="fieldset2">
                        <legend>bulkCashbillIssueResult (발행결과) [ {{ forloop.counter }} ]</legend>
                        <ul>
                            <li> mgtKey (문서번호) : {{ bulkCashbillIssueResult.mgtKey }}</li>
                            <li> code (응답코드) : {{ bulkCashbillIssueResult.code }}</li>
                            <li> confirmNum (국세청승인번호) : {{ bulkCashbillIssueResult.confirmNum }}</li>
                            <li> tradeDate (거래일자) : {{ bulkCashbillIssueResult.tradeDate }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
