{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">Response</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>문서관리번호 사용여부 확인</legend>
            <ul>
                {% if result %}
                    <li>문서관리 사용여부 : {{ result }}</li>
                {% else %}
                    <li>Result.code : {{ code }}</li>
                    <li>Result.message : {{ message }}</li>
                {% endif %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}