{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">GetDetailInfo</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>현금영수증 상세정보 확인</legend>
            <ul>
                <li> itemKey (현금영수증 아이템키) : {{ cashbill.itemKey }}</li>
                <li> confirmNum (국세청 승인번호) : {{ cashbill.confirmNum }}</li>
                <li> tradeDate (거래일자) : {{ cashbill.tradeDate }} </li>
                <li> tradeUsage (거래용도) : {{ cashbill.tradeUsage }}</li>
                <li> tradeType (현금영수증 형태) : {{ cashbill.tradeType }}</li>
                <li> taxationType (과세형태) : {{ cashbill.taxationType }}</li>
                <li> supplyCost (공급가액) : {{ cashbill.supplyCose }}</li>
                <li> tax (세액) : {{ cashbill.tax }}</li>
                <li> serviceFee (봉사료) : {{ cashbill.serviceFee }}</li>
                <li> totalAmount (거래금액) : {{ cashbill.totalAmount }}</li>
                <li> franchiseCorpNum (발행자 사업자번호) : {{ cashbill.franchiseCorpNum }}</li>
                <li> franchiseCorpName (발행자 상호) : {{ cashbill.franchiseCorpName }}</li>
                <li> franchiseCEOName (발행자 대표자 성명) : {{ cashbill.franchiseCEOName }}</li>
                <li> franchiseAddr (발행자 주소) : {{ cashbill.franchiseAddr }}</li>
                <li> franchiseTEL (발행자 연락처) : {{ cashbill.franchiseTEL }}</li>
                <li>identityNum (거래처 식별번호) : {{ cashbill.identityNum }}</li>
                <li>customerName (고객명) : {{ cashbill.customerName }}</li>
                <li>itemName (상품명) : {{ cashbill.itemName }}</li>
                <li>orderNumber (주문번호) : {{ cashbill.orderNumber }}</li>
                <li>email (고객 이메일) : {{ cashbill.email }}</li>
                <li>hp (고객 휴대폰번호) : {{ cashbill.hp }}</li>
                <li>smssendYN (알림문자 전송여부) : {{ cashbill.smssendYN }}</li>
                <li>orgConfirmNum (원본현금영수증 승인번호) : {{ cashbill.orgConfirmNum }}</li>
                <li>orgTradeDate (원본현금영수증 거래일자) : {{ cashbill.orgTradeDate }}</li>
                <li>cancelType (취소사유) : {{ cashbill.cancelType }}</li>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}