{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 현금영수증 SDK Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>현금영수증 상태변경 이력</legend>
            <ul>
                {% for logList in LogList %}
                    <fieldset class="fieldset2">
                        <legend>현금영수증 상태변경 이력 [{{ forloop.counter }}]</legend>
                        <ul>
                            <li> docLogType (로그타입) : {{ logList.docLogType }}</li>
                            <li> log (이력정보) : {{ logList.log }}</li>
                            <li> procType (처리형태) : {{ logList.procType }}</li>
                            <li> procMemo (처리메모) : {{ logList.procMemo }}</li>
                            <li> regDT (등록일시) : {{ logList.regDT }}</li>
                            <li> ip (아이피) : {{ logList.ip }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
