{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 세금계산서 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>현금영수증 메일전송여부 확인</legend>
            <ul>
                <fieldset class="fieldset2">
                    <ul>
                        {% for info in EmailConfig %}
                            {% if info.emailType == "CSH_ISSUE" %}
                                <li> {{ info.emailType }} (고객에게 현금영수증이 발행 되었음을 알려주는 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "CSH_CANCEL" %}
                                <li> {{ info.emailType }} (고객에게 현금영수증이 발행취소 되었음을 알려주는 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </fieldset>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
