{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 전자명세서 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>전자명세서 첨부파일 목록 확인</legend>
            <ul>
                {% for fileList in fileList %}
                    <fieldset class="fieldset2">
                        <legend> 첨부파일 [{{ forloop.counter }}]</legend>
                        <ul>
                            <li> serialNum (첨부파일 일련번호) : {{ fileList.serialNum }} </li>
                            <li> attachedFile (파일 식별번호) : {{ fileList.attachedFile }}</li>
                            <li> displayName (파일명) : {{ fileList.displayName }} </li>
                            <li> regDT (첨부일시) : {{ fileList.regDT }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
