{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">GetLogs</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>전자명세서 상태변경 이력</legend>
            <ul>
                {% for logList in LogList %}
                    <fieldset class="fieldset2">
                        <legend>전자명세서 상태변경 이력 [{{ forloop.counter }}]</legend>
                        <ul>
                            <li> docLogType(이력유형) : {{ logList.docLogType }}</li>
                            <li> log(문서이력 설명) : {{ logList.log }}</li>
                            <li> procType(처리유형) : {{ logList.procType }}</li>
                            <li> procCorpName(회사명) : {{ logList.procCorpName }}</li>
                            <li> procMemo(처리메모) : {{ logList.procMemo }}</li>
                            <li> regDT(처리일시) : {{ logList.regDT }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}