{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 전자명세서 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>전자명세서 발행</legend>
            <ul>
                <li><a href="CheckMgtKeyInUse">checkMgtKeyInUse</a> (관리번호 확인)</li>
                <li><a href="RegistIssue">registIssue</a> (즉시 발행)</li>
                <li><a href="Register">register</a> (임시저장)</li>
                <li><a href="Update">update</a> (수정)</li>
                <li><a href="Issue">issue</a> (발행)</li>
                <li><a href="Cancel">cancel</a> (발행취소)</li>
                <li><a href="Delete">delete</a> (삭제)</li>
            </ul>
        </fieldset>
        <br/>
        <fieldset class="fieldset1">
            <legend>전자명세서 정보확인</legend>
            <ul>
                <li><a href="GetInfo">getInfo</a> (상태 확인)</li>
                <li><a href="GetInfos">getInfos</a> (상태 대량 확인)</li>
                <li><a href="GetDetailInfo">getDetailInfo</a> (상세정보 확인)</li>
                <li><a href="Search">search</a> (목록 조회)</li>
                <li><a href="GetLogs">getLogs</a> (상태 변경이력 확인)</li>
                <li><a href="GetURL">getURL</a> (전자명세서 문서함 관련 URL)</li>
            </ul>
        </fieldset>
        <br/>
        <fieldset class="fieldset1">
            <legend>전자명세서 보기/인쇄</legend>
            <ul>
                <li><a href="GetPopUpURL">getPopUpURL</a> (전자명세서 보기 URL)</li>
                <li><a href="GetPrintURL">getPrintURL</a> (전자명세서 인쇄 [공급자] URL)</li>
                <li><a href="GetEPrintURL">getEPrintURL</a> (전자명세서 인쇄 [공급받는자용] URL)</li>
                <li><a href="GetMassPrintURL">getMassPrintURL</a> - (전자명세서 대량 인쇄 URL)</li>
                <li><a href="GetMailURL">getMailURL</a> - (전자명세서 메일링크 URL)</li>
            </ul>
        </fieldset>
        <br/>
        <fieldset class="fieldset1">
            <legend>부가기능</legend>
            <ul>
                <li><a href="GetAccessURL">getAccessURL</a> (팝빌 로그인 URL)</li>
                <li><a href="AttachFile">attachFile</a> (첨부파일 추가)</li>
                <li><a href="DeleteFile">deleteFile</a> (첨부파일 삭제)</li>
                <li><a href="GetFiles">getFiles</a> (첨부파일 목록 확인)</li>
                <li><a href="SendEmail">sendEmail</a> (메일 전송)</li>
                <li><a href="SendSMS">sendSMS</a> (문자 전송)</li>
                <li><a href="SendFAX">sendFAX</a> (팩스 전송)</li>
                <li><a href="FAXSend">FAXSend</a> (선팩스 전송)</li>
                <li><a href="AttachStatement">attachStatement</a> (전자명세서 첨부)</li>
                <li><a href="DetachStatement">detachStatement</a> (전자명세서 첨부해제)</li>
                <li><a href="ListEmailConfig">listEmailConfig</a> (전자명세서 알림메일 전송목록 조회)</li>
                <li><a href="UpdateEmailConfig">updateEmailConfig</a> (전자명세서 알림메일 전송설정 수정)</li>
            </ul>
        </fieldset>
        <br/>
        <fieldset class="fieldset1">
            <legend>포인트관리</legend>
            <ul>
                <li><a href="GetBalance">getBalance</a> (연동회원 잔여포인트 확인)</li>
                <li><a href="GetChargeURL">getChargeURL</a> (연동회원 포인트충전 URL)</li>
                <li><a href="GetPartnerBalance">getPartnerBalance</a> (파트너 잔여포인트 확인)</li>
                <li><a href="GetPartnerURL">getPartnerURL</a> (파트너 포인트충전 URL)</li>
                <li><a href="GetUnitCost">getUnitCost</a> (발행 단가 확인)</li>
                <li><a href="GetChargeInfo">getChargeInfo</a> (과금정보 확인)</li>
            </ul>
        </fieldset>
        <br/>
        <fieldset class="fieldset1">
            <legend>회원정보</legend>
            <ul>
                <li><a href="CheckIsMember">checkIsMember</a> (연동회원 가입여부 확인)</li>
                <li><a href="CheckID">checkID</a> (아이디 중복 확인)</li>
                <li><a href="JoinMember">joinMember</a> (연동회원 신규가입)</li>
                <li><a href="GetCorpInfo">getCorpInfo</a> (회사정보 확인)</li>
                <li><a href="UpdateCorpInfo">updateCorpInfo</a> (회사정보 수정)</li>
                <li><a href="RegistContact">registContact</a> (담당자 등록)</li>
                <li><a href="ListContact">listContact</a> (담당자 목록 확인)</li>
                <li><a href="UpdateContact">updateContact</a> (담당자 정보 수정)</li>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
















