{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 세금계산서 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>전자명세서 메일전송여부 확인</legend>
            <ul>
                <fieldset class="fieldset2">
                    <ul>
                        {% for info in EmailConfig %}
                            {% if info.emailType == "SMT_ISSUE" %}
                                <li> {{ info.emailType }} (수신자에게 전자명세서가 발행 되었음을 알려주는 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "SMT_ACCEPT" %}
                                <li> {{ info.emailType }} (발신자에게 전자명세서가 승인 되었음을 알려주는 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "SMT_DENY" %}
                                <li> {{ info.emailType }} (발신자에게 전자명세서가 거부 되었음을 알려주는 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "SMT_CANCEL" %}
                                <li> {{ info.emailType }} (수신자에게 전자명세서가 취소 되었음을 알려주는 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                            {% if info.emailType == "SMT_CANCEL_ISSUE" %}
                                <li> {{ info.emailType }} (수신자에게 전자명세서가 발행취소 되었음을 알려주는 메일 전송 여부) : {{ info.sendYN }} </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </fieldset>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
