{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">Search</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>전자명세서 목록조회</legend>
            <ul>
                <li> code (응답코드) : {{ response.code }}</li>
                <li> message (응답메시지) : {{ response.message }}</li>
                <li> total (검색결과 건수) : {{ response.total }}</li>
                <li> perPage (페이지당 검색개수) : {{ response.perPage }}</li>
                <li> pageNum (페이지 번호) {{ response.pageNum }}</li>
                <li> pageCount (페이지 개수) {{ response.pageCount }}</li>
                {% for statementInfo in  response.list %}
                    <fieldset class="fieldset2">
                        <ul>
                            <li> itemCode (문서종류코드) : {{ statementInfo.itemCode }}</li>
                            <li> itemkey (팝빌 관리번호) : {{ statementInfo.itemKey }}</li>
                            <li> invoiceNum (문서고유번호) : {{ statementInfo.invoiceNum }}</li>
                            <li> mgtKey (파트너 관리번호) : {{ statementInfo.mgtKey }}</li>
                            <li> taxType (세금형태) : {{ statementInfo.taxType }} </li>
                            <li> writeDate (작성일자) : {{ statementInfo.writeDate }}</li>
                            <li> regDT (임시저장 일시) : {{ statementInfo.regDT }}</li>
                            <li> senderCorpNum (발신자 상호) : {{ statementInfo.senderCorpNum }}</li>
                            <li> senderCorpName (발신자 사업자등록번호) : {{ statementInfo.senderCorpName }}</li>
                            <li> receiverCorpNum (발신자 인쇄여부) : {{ statementInfo.receiverCorpNum }}</li>
                            <li> receiverCorpName (수신자 상호) : {{ statementInfo.receiverCorpName }}</li>
                            <li> supplyCostTotal (수신자 사업자등록번호) : {{ statementInfo.supplyCostTotal }}</li>
                            <li> taxTotal (세액 합계) : {{ statementInfo.taxTotal }}</li>
                            <li> purposeType (영수/청구) : {{ statementInfo.purposeType }}</li>
                            <li> isseuDT (발행일시) : {{ statementInfo.isseuDT }}</li>
                            <li> stateCode (상태코드) : {{ statementInfo.stateCode }}</li>
                            <li> stateDT (상태 변경일시) : {{ statementInfo.stateDT }}</li>
                            <li> stateMemo (상태메모) : {{ statementInfo.stateMemo }}</li>
                            <li> openYN (개봉 여부) : {{ statementInfo.openYN }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}