{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">GetCorpInfo</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>{{ request.path }}</legend>
            <ul>
                <li>ceoname(대표자성명) : {{ ceoname }}</li>
                <li>corpName(상호) : {{ corpName }}</li>
                <li>addr(주소) : {{ addr }}</li>
                <li>bizType(업태) : {{ bizType }}</li>
                <li>bizClass(종목) : {{ bizClass }}</li>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}