{% extends "base.html" %}
{% block contents %}
<div id="content">
    <p class="heading1">RefundInfo (환불 신청 상태)</p>
    <br/>
<fieldset class="fieldset1">
    <legend>{{request.path}}</legend>
    <ul>
        <li>reqDT (신청일시) : {{response.reqDT}}</li>
        <li>requestPoint (환불 신청포인트) : {{response.requestPoint}}</li>
        <li>accountBank (환불계좌 은행명) : {{response.accountBank}}</li>
        <li>accountNum (환불계좌번호) : {{response.accountNum}}</li>
        <li>accountName (환불계좌 예금주명) : {{response.accountName}}</li>
        <li>state (상태) : {{response.state}}</li>
        <li>reason (환불사유) : {{response.reason}}</li>
    </ul>
</fieldset>
</div>
{% endblock contents %}
