{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">담당자 목록 확인</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>{{ request.path }}</legend>
            <ul>
                {% for listContact in listContact %}
                    <fieldset class="fieldset2">
                        <legend>담당자 정보 [{{ forloop.counter }}]</legend>
                        <ul>
                            <li>id (아이디) : {{ listContact.id }}</li>
                            <li>personName (담당자 성명) : {{ listContact.personName }}</li>
                            <li>email (담당자 이메일) : {{ listContact.email }}</li>
                            <li>hp (담당자 휴대폰번호) : {{ listContact.hp }}</li>
                            <li>fax (담당자 팩스번호) : {{ listContact.fax }}</li>
                            <li>tel (담당자 연락처) : {{ listContact.tel }}</li>
                            <li>regDT (등록일시) : {{ listContact.regDT }}</li>
                            <li>searchAllAllowYN (담당자 조회권환 설정) : {{ listContact.searchAllAllowYN }}</li>
                            <li>mgrYN (관리자 여부): {{ listContact.mgrYN }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}