{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">ListContact</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>{{ request.path }}</legend>
            <ul>
                {% for listContact in listContact %}
                    <fieldset class="fieldset2">
                        <legend>담당자 정보 [{{ forloop.counter }}]</legend>
                        <ul>
                            <li>id : {{ listContact.id }}</li>
                            <li>email : {{ listContact.email }}</li>
                            <li>hp : {{ listContact.hp }}</li>
                            <li>personName : {{ listContact.personName }}</li>
                            <li>searchAllAllowYN : {{ listContact.searchAllAllowYN }}</li>
                            <li>tel : {{ listContact.tel }}</li>
                            <li>fax : {{ listContact.fax }}</li>
                            <li>mgrYN : {{ listContact.mgrYN }}</li>
                            <li>regDT : {{ listContact.regDT }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}