{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">Response</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>{{ request.path }}</legend>
            <ul>
                <li>응답코드 (Response.code) : {{ code }}</li>
                <li>응답메시지 (Response.message) : {{ message }}</li>
                {% if ntsConfirmNum != None %}
                  <li>국세청 승인번호 (Response.ntsConfirmNum) : {{ ntsConfirmNum }}</li>
                {% endif %}
                {% if invoiceNum != None %}
                    <li>팝빌 승인번호 (Response.invoiceNum) : {{ invoiceNum }}</li>
                {% endif %}
                {% if confirmNum != None %}
                    <li>국세청 승인번호 (Response.confirmNum) : {{ confirmNum }}</li>
                {% endif %}
                {% if tradeDate != None %}
                    <li>거래일자 (Response.tradeDate) : {{ tradeDate }}</li>
                {% endif %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
