{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 카카오톡 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>카카오톡 전송내역 확인</legend>
            <ul>
                <ul>
                    <li> contentType (카카오톡 유형) : {{ kakaoInfo.contentType }}</li>
                    <li> templateCode (템플릿 코드) : {{ kakaoInfo.templateCode }}</li>
                    <li> plusFriendID (카카오톡 채널 아이디) : {{ kakaoInfo.plusFriendID }}</li>
                    <li> sendNum (발신번호) : {{ kakaoInfo.sendNum }}</li>
                    <li> altContent ([동보]대체문자 내용) : {{ kakaoInfo.altContent }}</li>
                    <li> altSendType (대체문자 유형) : {{ kakaoInfo.altSendType }}</li>
                    <li> reserveDT (예약일시) : {{ kakaoInfo.reserveDT }}</li>
                    <li> adsYN (광고전송 여부) : {{ kakaoInfo.adsYN }}</li>
                    <li> imageURL (친구톡 이미지 URL) : {{ kakaoInfo.imageURL }}</li>
                    <li> sendCnt (전송건수) : {{ kakaoInfo.sendCnt }}</li>
                    <li> successCnt (성공건수) : {{ kakaoInfo.successCnt }}</li>
                    <li> failCnt (실패건수) : {{ kakaoInfo.failCnt }}</li>
                    <li> altCnt (대체문자 건수) : {{ kakaoInfo.altCnt }}</li>
                    <li> cancelCnt (취소건수) : {{ kakaoInfo.cancelCnt }}</li>
                </ul>

                {% for btns in kakaoInfo.btns %}
                    <fieldset class="fieldset2">
                        <legend> btns ([배열] 버튼 목록) [{{ forloop.counter }}]</legend>
                        <ul>
                            <li> n (버튼명) : {{ btns.n }}</li>
                            <li> t (버튼유형) : {{ btns.t }}</li>
                            <li> u1 (버튼링크1) : {{ btns.u1 }}</li>
                            <li> u2 (버튼링크2) : {{ btns.u2 }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}

                {% for msgs in kakaoInfo.msgs %}
                    <fieldset class="fieldset2">
                        <legend> 전송결과 정보 배열 [{{ forloop.counter }}]</legend>
                        <ul>
                            <li> state (전송상태 코드) : {{ msgs.state }}</li>
                            <li> sendDT (전송일시) : {{ msgs.sendDT }}</li>
                            <li> receiveNum (수신번호) : {{ msgs.receiveNum }}</li>
                            <li> receiveName (수신자명) : {{ msgs.receiveName }}</li>
                            <li> content (알림톡/친구톡 내용) : {{ msgs.content }}</li>
                            <li> result (알림톡/친구톡 전송결과 코드) : {{ msgs.result }}</li>
                            <li> resultDT (알림톡/친구톡 전송결과 수신일시) : {{ msgs.resultDT }}</li>
                            <li> altContent (대체문자 내용) : {{ msgs.altContent }}</li>
                            <li> altContentType (대체문자 전송유형) : {{ msgs.altContentType }}</li>
                            <li> altSendDT (대체문자 전송일시) : {{ msgs.altSendDT }}</li>
                            <li> altResult (대체문자 전송결과 코드) : {{ msgs.altResult }}</li>
                            <li> altResultDT (대체문자 전송결과 수신일시) : {{ msgs.altResultDT }}</li>
                            <li> receiptNum (접수번호) : {{ msgs.receiptNum }}</li>
                            <li> requestNum (요청번호) : {{ msgs.requestNum }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
