{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 카카오톡 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>카카오톡 채널 목록</legend>
            {% for plusFriendID in listPlusFriendID %}
                <fieldset class="fieldset2">
                    <ul>
                        <li> plusFriendID (검색용 아이디) : {{ plusFriendID.plusFriendID }}</li>
                        <li> plusFriendName (카채널명) : {{ plusFriendID.plusFriendName }}</li>
                        <li> regDT (등록일시) : {{ plusFriendID.regDT }}</li>
                        <li> state (채널 상태) : {{ plusFriendID.state }}</li>
                        <li> stateDT (채널 상태 일시) : {{ plusFriendID.stateDT }}</li>
                    </ul>
                </fieldset>
            {% endfor %}
        </fieldset>
    </div>
{% endblock contents %}
