{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 카카오톡 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>알림톡 템플릿 목록</legend>
            {% for template in templateList %}
                <fieldset class="fieldset2">
                    <legend>알림톡 템플릿 목록 [{{ forloop.counter }}]</legend>
                    <ul>
                        <li> templateCode (템플릿 코드) : {{ template.templateCode }}</li>
                        <li> templateName (템플릿 제목) : {{ template.templateName }}</li>
                        <li> template (템플릿 내용) : {{ template.template }}</li>
                        <li> plusFriendID (카카오톡 채널 아이디) : {{ template.plusFriendID }}</li>
                        {% for btns in template.btns %}
                            <fieldset class="fieldset2">
                                <legend> btns ([배열] 버튼 목록) [{{ forloop.counter }}]</legend>
                                <ul>
                                    <li> n (버튼명) : {{ btns.n }}</li>
                                    <li> t (버튼유형) : {{ btns.t }}</li>
                                    <li> u1 (버튼링크1) : {{ btns.u1 }}</li>
                                    <li> u2 (버튼링크2) : {{ btns.u2 }}</li>
                                </ul>
                            </fieldset>
                        {% endfor %}
                    </ul>
                </fieldset>
            {% endfor %}
        </fieldset>
    </div>
{% endblock contents %}
