{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 홈택스 전자(세금)계산서 매입매출 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>상세정보 확인 - XML</legend>
            <ul>
                <li> ResultCode (요청에 대한 응답 상태코드) :  {{ response.ResultCode }}</li>
                <li> Message (전자세금계산서 국세청승인번호) : {{ response.Message }}</li>
                <li> retObject (전자세금계산서 XML문서) : {{ response.retObject }}</li>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
