{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 홈택스 전자세금계산서 수집 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>수집 결과 요약정보 조회</legend>
            <ul>
                <li> count (수집 결과 건수) :  {{ response.count }}</li>
                <li> supplyCostTotal (공급가액 합계) : {{ response.supplyCostTotal }}</li>
                <li> taxTotal (세액 합계) : {{ response.taxTotal }}</li>
                <li> amountTotal (합계 금액) : {{ response.amountTotal }}</li>
            </ul>
        </fieldset>
    </div>
{% endblock contents %}
