{% extends "base.html" %}
{% block contents %}
    <div id="content">
        <p class="heading1">팝빌 팩스 Django Example.</p>
        <br/>
        <fieldset class="fieldset1">
            <legend>전송내역 목록조회</legend>
            <ul>
                <li> code (요청에 대한 응답 상태코드) : {{ response.code }}</li>
                <li> message (요청에 대한 응답 메시지) : {{ response.message }}</li>
                <li> total (총 검색결과 건수) : {{ response.total }}</li>
                <li> perPage (페이지당 검색개수) : {{ response.perPage }}</li>
                <li> pageNum (페이지 번호) {{ response.pageNum }}</li>
                <li> pageCount (페이지 개수) {{ response.pageCount }}</li>
                {% for faxInfo in  response.list %}
                    <fieldset class="fieldset2">
                        <legend>팩스전송 정보 [{{ forloop.counter }}]</legend>
                        <ul>
                            <li> state (전송상태 코드) : {{ faxInfo.state }}</li>
                            <li> result (전송결과 코드) : {{ faxInfo.result }}</li>
                            <li> sendNum (발신번호) : {{ faxInfo.sendNum }} </li>
                            <li> senderName (발신자명) : {{ faxInfo.senderName }}</li>
                            <li> receiveNum (수신번호) : {{ faxInfo.receiveNum }}</li>
                            <li> receiveName (수신자명) : {{ faxInfo.receiveName }}</li>
                            <li> title (팩스제목) : {{ faxInfo.title }}</li>
                            <li> sendPageCnt (전체 페이지수) : {{ faxInfo.sendPageCnt }}</li>
                            <li> successPageCnt (성공 페이지수) : {{ faxInfo.successPageCnt }}</li>
                            <li> failPageCnt (실패 페이지수) : {{ faxInfo.failPageCnt }}</li>
                            <li> refundPageCnt (환불 페이지수) : {{ faxInfo.refundPageCnt }}</li>
                            <li> cancelPageCnt (취소 페이지수) : {{ faxInfo.cancelPageCnt }}</li>
                            <li> reserveDT (예약일시) : {{ faxInfo.reserveDT }}</li>
                            <li> receiptDT (접수일시) : {{ faxInfo.receiptDT }}</li>
                            <li> sendDT (발송일시) : {{ faxInfo.sendDT }}</li>
                            <li> resultDT (전솔결과 수신잉시) : {{ faxInfo.resultDT }}</li>
                            <li> fileNames (전송 파일명 리스트) : {{ faxInfo.fileNames }}</li>
                        </ul>
                    </fieldset>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock contents %}